#################################################
# Ignore .DS_Store from Mac OS
#################################################
*.DS_Store

#################################################
# Ignore auto-save files from Emacs
#################################################
*.*~
\#*.*\#

#################################################
### Ignore Emacs packages
#################################################
/elpa/
/auto-save-list/

#################################################
# Ignore the `tramp` connection history file
#################################################
tramp

#################################################
# Ignore reftex files
#################################################
*.rel

#################################################
# Ignore AUCTeX auto directory
#################################################
auto/

#################################################
# Ignore some `org-mode` stuff
#################################################
.org-id-locations
*_archive