# ----------------------------------------------------------------------
# Ignore .DS_Store from Mac OS
# ----------------------------------------------------------------------
*.DS_Store

# ----------------------------------------------------------------------
# Ignore auto-save files from Emacs
# ----------------------------------------------------------------------
*.*~
\#*.*\#

# ----------------------------------------------------------------------
# Ignore Emacs packages
# ----------------------------------------------------------------------
/elpa/
/auto-save-list/

# ----------------------------------------------------------------------
# Ignore the `tramp` connection history file
# ----------------------------------------------------------------------
tramp

# ----------------------------------------------------------------------
# Ignore recentf
# ----------------------------------------------------------------------
recentf
# ----------------------------------------------------------------------
# Ignore projectile cache
# ----------------------------------------------------------------------
projectile.cache

# ----------------------------------------------------------------------
# Ignore reftex files
# ----------------------------------------------------------------------
*.rel

# ----------------------------------------------------------------------
# Ignore AUCTeX auto directory
# ----------------------------------------------------------------------
auto/

# ----------------------------------------------------------------------
# Ignore some `org-mode` stuff
# ----------------------------------------------------------------------
.org-id-locations
*_archive

# ----------------------------------------------------------------------
# Ignore projectile stuff
# ----------------------------------------------------------------------
projectile-bookmarks.eld

# Local Variables:
# mode: conf
# coding: utf-8
# fill-column: 72
# End:
